body {
  background: #f7f7f7;
  letter-spacing: 0.025em;
  font-family: $default-font-family;
  font-size: $default-font-size;
  color: $default-font-color;
  font-weight: $font_weight_small;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#main-app-container {
  padding: 0px 2%;
  height: 100%;
  position: relative;
  left: 16%;
  overflow: scroll;
  width: 84%;
  margin: 0;
  font-family: $default-font-family;
  font-size: $default-font-size;
  color: $default-font-color;
  font-weight: $font_weight_small;
  height: 100vh;
  padding-top: 51px;
  #main-app-body-container {
    height: 100%;
  }
  .panel {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 3px 3px 1px #cccccc !important;
    .panel {
      border-top: 1px solid $grey-border-color;
    }
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  status-card-component {
    width: 100%;
    margin-right: 10px;
    .total {
      border-left-width: 0.5em;
      border-left-color: $total-request-status-color;
      & .panel-body > p {
        color: $total-request-status-color;
      }
    }
    .pending {
      border-left-width: 0.5em;
      border-left-color: $pending-request-status-color;
      & .panel-body > p {
        color: $pending-request-status-color;
      }
    }
    .approved {
      border-left-width: 0.5em;
      border-left-color: $approved-request-status-color;
      & .panel-body > p {
        color: $approved-request-status-color;
      }
    }
    .rejected {
      border-left-width: 0.5em;
      border-left-color: $rejected-request-status-color;
      & .panel-body > p {
        color: $rejected-request-status-color;
      }
    }
    .panel-body {
      div.row p {
        font-size: 0.5em;
        margin-bottom: 3px;
      }
      label {
        margin-right: 0.2em;
        font-size: 1.65em;
        font-family: $default-numeric-font-family;
        margin-bottom: 0px;
      }
      sub {
        bottom: 0.2em;
        font-family: $default-numeric-font-family;
        color: $success-request-status-color;
      }
      p:last-child {
        font-family: "Lato", sans-serif;
        font-size: 0.65em !important;
        font-weight: $font_weight_large;
      }
    }
  }
  status-card-component:last-child {
    margin-right: 0 !important;
  }
  .approved-text {
    color: $approved-request-status-color;
  }
  .stage-container .flex-container {
    background: #eceff1;
    padding: 1.5rem;
    border-radius: 5px;
    h5,
    p {
      margin: 0px;
    }
  }
}
#main-app-container .accordion {
  .panel {
    box-shadow: none !important;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 1px;
    margin-bottom: 20px;
  }
  .panel-heading {
    border-radius: 0;
    padding: 6px 8px 2px 8px;
    cursor: pointer;
    background: #263238;
    color: #f7f7f7;
    a {
      color: #f7f7f7;
    }
  }
  .panel-heading:after {
    font-family: "FontAwesome";
    content: "\F107";
    margin-top: -3px;
    margin-right: 5px;
    font-size: 24px;
    float: right;
  }
  .panel-heading.collapsed:after {
    content: "\f105";
    margin-top: -3px;
    font-size: 24px;
    margin-right: 5px;
  }

  .incentive-type {
    width: 40%;
  }

  tr:hover{
    background: transparent !important;
  }

  td.details-control {
    background: url("../images/details_open.png") no-repeat center center;
    cursor: pointer;
    min-width: 30px;
    text-align: center;
  }
  tr.shown td.details-control {
    min-width: 30px;
    cursor: pointer;
    text-align: center;
    background: url("../images/details_close.png") no-repeat center center;
  }
  table {
    margin-top: 12px;
  }

  th, td {
    font-size: 12px;
    font-weight: normal;
    padding: 10px;
    text-align: left;
  }
}

.incentive-inner-table {
  tr{
    background: #fafafa !important;
  }
  th{
  color: $approved-request-status-color;
  }
}

.btn-outline-info {
  color: #17a2b8;
  background-color: transparent;
  background-image: none;
  border-color: #17a2b8;
  &:hover {
    background: #17a2b8;
    color: #ffffff;
  }
}

.btn-outline-warning {
  color: #ffc107;
  background-color: transparent;
  background-image: none;
  border-color: #ffc107;
  &:hover{
    background: #ffc107;;
    color: #ffffff;
  }
}
