#header-component {
  border-radius: 0px;
  margin-bottom: 0px;
  .navbar-brand {
    padding: 5px 30px;
    img {
      display: inline;
    }
    .module-logo {
      padding-left: 12px;
      border-left: 2px solid #ddd;
      margin-left: 10px;
      margin-top: 1px;
    }
  }
}
