<div class="panel no-gutters company-info-container">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3" style="border-top-left-radius: 5px;">
        <label class="label-text">Name of the Enterprise</label>
        <label class="label-value">Ramky Groups</label>
      </div>
      <div class="col-md-3">
        <label class="label-text">Registration Number</label>
        <label class="label-value">Ramky</label>
      </div>
      <div class="col-md-3">
        <label class="label-text">Type of Enterprise</label>
        <label class="label-value">Ramky</label>
      </div>
      <div class="col-md-3" style="border-top-right-radius: 5px;">
        <label class="label-text">Constitution of the Enterprise</label>
        <label class="label-value">Ramky</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label class="label-text">Address of the Enterprise</label>
        <label class="label-value">#20-23-21, Central Park, Airport Road, Gannavaram,
            Vijayawada, Andhra Pradesh - 500 123</label>
      </div>
      <div class="col-md-3">
        <label class="label-text">Line of Activity</label>
        <label class="label-value">Ramky</label>
      </div>
      <div class="col-md-3">
        <label class="label-text">Business E-mail ID</label>
        <label class="label-value">Ramky</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="label-text">Sector Of Enterprise</label>
        <label class="label-value">Ramky</label>
      </div>
      <div class="col-md-3">
        <label class="label-text">Company Origin</label>
        <label class="label-value">Ramky</label>
      </div>
      <div class="col-md-3">
        <label class="label-text">Total Investment in Plant
            & Machinery (in INR Lakhs)</label>
        <label class="label-value">Ramky</label>
      </div>
      <div class="col-md-3">
        <label class="label-text">Date of Commencement
            of Commercial Production</label>
        <label class="label-value">Ramky</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="label-text">Land/Space lease duration</label>
        <label class="label-value">Ramky</label>
      </div>
      <div class="col-md-3">
        <label class="label-text">Size of Enterprise</label>
        <label class="label-value">Ramky</label>
      </div>
      <div class="col-md-3">
        <label class="label-text">Financed by</label>
        <label class="label-value">Ramky</label>
      </div>
      <div class="col-md-3">
        <label class="label-text">Applicable Policy</label>
        <label class="label-value">Ramky</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"  style="border-bottom-left-radius: 5px;">
        <label class="label-text">% of second hand machinery</label>
        <label class="label-value">Ramky</label>
      </div>
      <div class="col-md-3">
        <label class="label-text">Production Capacity
            (as per IEM part b or industrial
            registration certificate)</label>
        <label class="label-value">Ramky</label>
      </div>
      <div class="col-md-3">
        <label class="label-text">Production Capacity of
            illegible activities</label>
        <label class="label-value">Ramky</label>
      </div>
      <div class="col-md-3" style="border-bottom-left-radius: 5px;">
        <label class="label-text"></label>
        <label class="label-value"></label>
      </div>
    </div>
  </div>
</div>