<div class="panel parners-card-container">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-1 pl-1">1</div>
      <div class="col-md-4">
        <label class="label-text">Business Owner Name</label>
        <label class="label-value">Ramky</label>
      </div>
      <div class="col-md-4">
        <label class="label-text">Designation</label>
        <label class="label-value">Ramky</label>
      </div>
      <div class="col-md-3">
        <label class="label-text">Share (in %)</label>
        <label class="label-value">Ramky</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 pl-1">
        <label class="label-text">Gender</label>
        <label class="label-value">Ramky</label>
      </div>
      <div class="col-md-4">
        <label class="label-text">Physically Handicapped </label>
        <label class="label-value">Ramky</label>
      </div>
      <div class="col-md-4">
        <label class="label-text">Community</label>
        <label class="label-value">Ramky</label>
      </div>
    </div>
  </div>
</div>