<div class="sidebar" id="left-nav-bar">
  <ul class="nav nav-sidebar">
    <li>
      <a routerLinkActive="active" [routerLink]="['./home']">
        <span>
          <i class="fa fa-tachometer" aria-hidden="true"></i>
        </span>
      </a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="['./message']">
        <span>
          <i class="fa fa-user" aria-hidden="true"></i>
        </span>
      </a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="['./help']">
        <span>
          <i class="fa fa-film" aria-hidden="true"></i>
        </span>
      </a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="['./help']">
        <span>
          <i class="fa fa-inr" aria-hidden="true"></i>
        </span>
      </a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="['./help']">
        <span>
          <i class="fa fa-globe" aria-hidden="true"></i>
        </span>
      </a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="['./help']">
        <span>
          <i class="fa fa-building" aria-hidden="true"></i>
        </span>
      </a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="['./login']">
        <span>
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </span>
      </a>
    </li>
  </ul>
</div>