#left-nav-bar {
  position: fixed;
  color: #fff;
  left: 0;
  width: 4%;
  padding: 0px;
  height: 100%;
  background: #505050;
  color: #fff;
  a {
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
  }
}
ul.nav > li a:hover, ul.nav > li a:focus, ul.nav li > a.active {
  background-color: rgb(0, 174, 239) !important;
  color: white !important;
}
ul.nav li a i {
  font-size: 18px;
  min-width: 25px;
}